@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/** {
  border: solid black 1px;
}*/

html {
  font-family: Michroma, 'Trebuchet MS', sans-serif;
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  margin: 0;
}

aside, .right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

aside {
  justify-content: space-between;
  text-align: center;
  color: rgb(255, 255, 255);
  background: center / cover no-repeat url(./images/andy-holmes-LUpDjlJv4_c-unsplash.jpg);
  width: min(400px, 35vw);
  height: 100svh;
}

aside > h1 {
  font-family: Audiowide, sans-serif;
  background-color: rgba(0, 0, 0, 0.55);
  font-size: clamp(2rem, 2rem + 2.5vw, 5rem);
  margin-top: max(30%, 30vh);
  padding: .5rem 0rem;
}

aside > div {
  font-size: calc(1.2rem + .1vw);
  font-weight: 700;
  color: black;
  padding: 2rem 0rem;
}

aside > div > a {
  color: black;
}

.right {
  background-color: rgb(233, 240, 255);
  width: min(700px, 65vw)
}


header > p {
  font-size: clamp(1.5rem, 1.5rem + .5vw, 2rem);
  line-height: clamp(1.9rem, 1.9rem + .5vw, 3rem);
  margin: 0.8rem 5rem 0 3rem;
  padding: 0;
}

header > p:last-child {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

main {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 .6rem .6rem rgb(173, 178, 190);;
}

form {
  margin: 1.8rem 3rem;
  padding: 0;
}

form > h2 {
  font-size: clamp(1.5rem, 1.5rem + .5vw, 2rem);
  line-height: clamp(1.9rem, 1.9rem + .5vw, 3rem);
  margin-bottom: 2.5rem;
  padding: 0;
}

form > section {
  display: flex;
  justify-content: start;
  align-content: space-between;
  margin-top: 1.5rem;
  gap: 8rem;
}

section > div {
  width: max(200px, 20vw);
}

div > label {
  display: block;
  font-size: clamp(1rem, 1rem + .15vw, 1.5rem);
  line-height: clamp(1.4rem, 1.4rem + .15vw, 2.5rem);
  margin-bottom: .3rem;
}

div > input {
  width: 100%;
}

div > .error {
  margin-top: .15rem;
  opacity: 1;
}

.button {
  background-color: rgb(233, 240, 255);
  margin-top: 3rem;
}

footer {
  font-size: calc(1.5rem + .1vw);
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  gap: 1.5rem;
  padding: 2rem 0rem;
}

footer a, footer img {
  width: 2.8rem;
  height: 2.8rem;
  margin: 0;
  padding: 0;
}